$font-stack: Helvetica, sans-serif
$primary-color: #404040

body
  font: 100% $font-stack
  color: $primary-color
  padding: 20px

header
  h1
    a
      text-decoration: none
      color: $primary-color

nav
  ul
    list-style-type: none
    li
      float: left
      padding: 10px
      &:last-child
        clear: both

