<header>
  <h1>
    <a href="https://neomi2428.github.io">Enabler, Equalizer</a>
  </h1>
</header>
<nav>
  <ul>
    <li class="tooltip">
        <a id="home-menu" href="/">Home</a>
        <span class="tooltiptext">Home</span>
    </li>
    <li class="tooltip">
        <a href="https://junheepark.wordpress.com" target="_blank">Blog</a>
        <span class="tooltiptext">My WordPress blog</span>
    </li>
    <li class="tooltip">
        <a id="about-menu" href="/about">About</a>
        <span class="tooltiptext">About</span>
    </li>
  </ul>
</nav>
<style type="text/css">
.tooltip {
    position: relative;
}
.tooltip .tooltiptext {
    visibility: hidden;
    position: absolute;
    left: 20px;
    top: 20px;
}
.tooltip:hover .tooltiptext {
    visibility: visible;
}
</style>